.search {
    padding: 5px 0;
    width: 300px;
    height: 35px;
    position: relative;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 280px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 35px;
    line-height: 18px;
    padding: 0 2px 0 12px;
    border-radius: 3px;
}

.search:hover input, .search input:focus {
    width: 270px;
    margin-left: 0px;
}

.blue-search-button {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #336ccf;
    border-radius: 3px;
    border: none !important;
    width: 35px;
    height: 35px;
}

.search-text {
    font-size: 14px;
}
